<div class="row">
	<div class="container">
		<h2>{{vm.hello}}</h2>
	</div>
</div>
<div class="row">
	<div class="container">
		<div class="col-md-2">
			<button class="btn btn-primary btn-large" ng-click="vm.testCall()">Make Service Call</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Property</th>
					<th>Value</th>
				</tr>
			</thead>
		    <tbody>
				<tr ng-repeat="(key, value) in vm.testData">
					<td>{{key}}</td>
					<td>{{value}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>